.buttons-frame {
	width: 430px;
	height: 450px;
	display: grid;
	grid-template-columns: 75px 193px 107px 75px;
	grid-template-rows: 100px 140px 170px;
	grid-template-areas:
		"topFns topFns ctrlBtn ctrlBtn"
		"midFns midFns midFns midFns"
		"leftFns numbers numbers rightFns";
	align-content: center;
	justify-content: center;
}

.numbers-frame {
	height: 165px;
	align-self: end;
	justify-self: center;
	display: grid;
	grid-template-columns: 100px auto 100px;
	gap: 1.5px 2px;
	grid-column: span 4 / 6;
	grid-area: numbers;
}

.ctrlBtns-frame {
	grid-area: ctrlBtn;
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		".    up      ."
		"left  .  right"
		".   down     .";
}

#root > div > div > div.buttons-frame > div.ctrlBtns-frame > button.up {
	grid-area: up;
	width: 50px;
	height: 30px;
	background-color: rgb(196, 255, 240);
}

#root > div > div > div.buttons-frame > div.ctrlBtns-frame > button.left {
	grid-area: left;
	width: 50px;
	height: 30px;
	background-color: rgb(196, 255, 240);
}

#root > div > div > div.buttons-frame > div.ctrlBtns-frame > button.right {
	grid-area: right;
	width: 50px;
	height: 30px;
	background-color: rgb(196, 255, 240);
}

#root > div > div > div.buttons-frame > div.ctrlBtns-frame > button.down {
	grid-area: down;
	width: 50px;
	height: 30px;
	background-color: rgb(196, 255, 240);
}

.topFns-frame {
	grid-area: topFns;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	align-items: center;
	column-gap: 5px;
}

.midFns-frame {
	grid-area: midFns;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: auto auto auto;
	align-items: center;
	justify-content: space-around;
	gap: 0px 6.5px;
}

.rightFns-frame {
	height: 165px;
	width: 85px;
	grid-area: rightFns;
	display: grid;
	justify-self: end;
	align-self: end;
	row-gap: 2px;
}

.leftFns-frame {
	height: 165px;
	width: 85px;
	grid-area: leftFns;
	display: grid;
	justify-self: start;
	align-self: end;
	row-gap: 8px;
}

button.rightFns,
button.leftFns,
button.midFns,
button.topFns {
	width: 70px;
	height: 35px;
}

button.rightFns.enter {
	height: 50px;
}

button {
	width: 80px;
	height: 40px;
	background-color: rgb(252, 154, 221);
	border: 2px solid grey;
	justify-self: center;
	border-radius: 20%;
}
